h2{
    text-align: center;
}

h6 {
    text-align: center;
}

body{
    display:flex;
    color: white;
    background-color: rgb(2, 2, 59);
}

header{
    
    background-color: rgb(4, 4, 71);
}

.corps{
    width: 70%;
}

footer{
    position: static;
}