h2{
    text-align: center;
}

h6 {
    text-align: center;
}

body{
    background: conic-gradient(from 45deg,#e66465, #d6b0a6); ;
}

.principal{
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}

li{
    margin: 5px;
    display: inline;
}

ul{
    display: inline;
    flex-direction: row;
}
header{
    display: flex;
    flex-direction: row;
}
#logo {
    height: 50%;
    width: 50%;
}
.corps{
    position: relative;
    display: flex;
    width: 70%;
}

footer{
    left: 30%;
    position: absolute;
    bottom: 0;
}